@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
  
   
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 60px;
    padding-left:40px;
    gap: 50px;
    background-color: rgb(20 162 146);
}

.navbar{
    display: flex;
    gap: 20px;
}
.navbar a{
    color:344654;
    text-transform: capitalize;
    padding: 10px 20px;
    color: #615047;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    transition: all .42s ease;
}
.navbar a:hover{
    color:rgb(147, 206, 196) ;
}
.nav-icon{
    display: flex;
    align-items: center;
    gap:10px;
}
.nav-icon i{
    margin-right: 20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    transition: all .42s ease;
}
.nav-icon i:hover{
    color: #DCF2F0 ;
    transform: scale(1.1);
}
   

* {
  box-sizing: border-box;
}

.footer {
 
    background-color: rgb(20 162 146);
  }
  
  .column1 {
    float: left;
    width: 20%;
    padding: 0 0px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row1 {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column1 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card6 {
   color: #faf8f8;
    padding: 16px;
    text-align: center;
    background-color: #0fa497;
  }
  
  
   
  
  .nav-coni {
    display: flex;
    align-items: center;
  
  }
  .nav-coni i{
    padding-left: 50px;
  gap: 30px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    transition: all .42s ease;
  }
  
  .nav i{
  margin-top: 10px;
  }
.card {
   
    margin: 150px;
    width: fit-content;
    background-color: #f2f3f7;
    border-radius: 0.75em;
    cursor: pointer;
    transition: ease 0.2s;
    box-shadow: 1em 1em 1em #d8dae0b1, -0.75em -0.75em 1em #ffffff;
    border: 1.5px solid #f2f3f7;
  }
  
  .card:hover {
    background-color: #d3ddf1;
    border: 1.5px solid #1677ff;
  }
  
  .container {
    margin-top: 1.25em;
    margin-bottom: 1.375em;
    margin-left: 1.375em;
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
  }
  
  .status-ind {
    width: 0.625em;
    height: 0.625em;
    background-color: #ff0000;
    margin: 0.375em 0;
    border-radius: 0.5em;
  }
  
  .text-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    color: #333;
  }
  
  .time {
    font-size: 0.875em;
    color: #777;
  }
  
  .text-link {
    font-weight: 500;
    text-decoration: none;
    color: black;
  }
  
  .button-wrap {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
  
  .secondary-cta {
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #666;
    cursor: pointer;
  }
  
  .primary-cta {
    font-size: 15px;
    background-color: transparent;
    font-weight: 600;
    color: #1677ff;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
  }
  
  button:hover {
    text-decoration: underline;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    gap: 0.875em;
  }
  